<%include partials/header%>
<h2>Submit new campground</h2>
<form action='/campgrounds' method='post'>
<input type="text"name='name' placeholder="name">
<input type="text"name='image' placeholder="image url">
<button>Submit</button>
</form>
<a href="/campgrounds">View all campgrounds</a>

<%include partials/footer %>